
<div class="row">
  <button class="w3-btn w3-red w3-ripple" ng-click="clearLog()">Clear Log</button>
</div>
<div class="row">
    <div >
		<textarea id="logarea" style="background-color: black; color: green;" readonly="readonly" rows="30" cols="150">{{debug}}</textarea>      
    </div>
</div>
