<!--home.html-->

<div class="row">
   <img alt="" src="../images/veris_logo.png">
                
</div>

<div class="row">
    <div class="col-lg-6">
        <h3><b>Get Started with Stardard Compliance Analyzer</b></h3>
        <p>1. Start by creating a project for your analysis by clicking on New Project menu.</p>
        <p>2. Upload the standard documents as PDF; or select from the pre-defined set of standards.</p>
        <p>3. Upload your companies documents to be analyzed against the standard as PDF files.</p>
        <p>4. Enter the Alchemy custom mode you want to use and start the analysis. 
		<p>5. Follow up on the progress of the project. (For developers, check the progress in the Debug view.)</p>
        <p>5. When completed, review the report. Note: the typical run time is about 10 minutes.</p>
        <p> This includes:</p>
        <p> - knowledge items extractions from all documents (Veris documents and standards)</p>
        <p> - concept extractions form knowledge items</p>
        <p> - ranker training with extracted concepts (python / script based)</p>
        <p> - cross search to find discrepancies</p>
        <p> - report generation</p>
    </div>
    <div class="col-lg-3">
        <h3><b>Utilities</b></h3>
        <ul>
            <li><a href="ext/IBMRR_Training_StandardsData.zip">Python scripts for training of IBM Ranker - Standards section</a></li>
            <li><a href="ext/IBMRR_Training_VerisData.zip">Python scripts for training of IBM Ranker - Veris section</a></li>
            <li><a href="https://www.python.org/ftp/python/2.7.11/python-2.7.11.amd64.msi">Download Python 2.7.11 for Windows</a></li>
            <li><a href="images/arch_flow.png">Architecture Diagram</a></li>
           
        </ul>
        
        
        <h3><b>More AI Stuff</b></h3>
        <ul>
            <li><a href="http://www.aigen.ai/">Aigen.</a></li>
        </ul>
        
    </div>
</div>

<!--/home.html-->
