<!--report.html-->
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>View loaded Veris Indicators for project {{myProject}}</h2>
        </div>
        <div class="page-header">
            <h3>Review loaded Veris indicators:</h3>
            <h4><p style="color:red">Note: all indicators are automatically extracted based on paragraph only, some information blocks from Standard files might not apply to the problem scope. Please remove those.</p></h4>
        </div>
        
    </div>
</div>

<div class="row" >
  <table class="w3-table w3-bordered w3-striped table table-striped table-condensed table-hover" style="width: 100%">
    <thead>
      <tr>
      	  <th>#</th>
	      <th>Indicator File</th>
	      <th>Detected Indicator</th>
	      <th>Keywords</th>
	      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="stdItem in stdItems">	 		  
					<td>{{$index}}</td>
					<td><b>{{stdItem.doc}}</b></td>
			        <td><b>{{stdItem.title}}<br/>{{stdItem.id}}</b>
			        <br/>{{stdItem.content[0].text}}</td>
			        <td>{{stdItem.kwords}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
       <button class="w3-btn w3-red w3-ripple text-left" ng-click="close()">Done</button>
      
</div>
  
  