
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Your Projects</h2>
        </div>
        
        
    </div>
    <div class="col-md-6">
    	<button class="w3-btn w3-red w3-ripple" ng-click="refresh()">Refresh</button>
    </div>
                
</div>

<div class="row" >
  <table class="w3-table w3-bordered w3-striped table table-striped table-condensed table-hover" style="width: 100%">
    <thead>
      <tr>
	      <th>Name</th>
	      <th>Description</th>
	      <th>Alchemy Model</th>
	      <th>Source Standards</th>
	      <th>Veris Standards</th>
	      <th>Progress</th>
	      <th>Actions</th>
	      <th>Delete Project</th>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="project in projectList">
        <td><b>{{project.projectName}}</b></td>
        <td>{{project.projectDesc}}</td>
        <td>{{project.alchemyCustomModel}}</td>
        
        <td>
        	<div>
  				  <input ng-model=collapse type=checkbox>{{ project.standardFiles.length}} Files</input>
				  <div ng-show=collapse>
				     <table>
		        		<tr ng-repeat="f in project.standardFiles">
		        		<td>	
		        			{{f.name}}
		        		</td>
		        		</tr>
        			 </table>
				  </div>
			</div>
        	
        	
        	
        </td>
        <td>
        
        	<div>
  				  <input ng-model=collapse2 type=checkbox>{{ project.companyFiles.length}} Files</input>
				  <div ng-show=collapse2>
				     <table>
		        		<tr ng-repeat="f in project.companyFiles">
		        		<td>	
		        			{{f.name}}
		        		</td>
		        		</tr>
        			 </table>
				  </div>
			</div>
		</td>
        
        
        <td><p style="color: #ffffff; background-color: #ff0000">{{project.status}}</p></td>
   
        <td>
        <div  ng-hide="{{project.status=='PROJECT CLOSED' || project.status=='NEW'}}">
                <button class="w3-btn w3-red w3-ripple text-left" style="width: 350px" ng-click="digestStandardFiles($index)">1/13 Digest S Files</button> </br>
                <button class="w3-btn w3-red w3-ripple text-left" style="width: 350px" ng-click="filterIndicators($index)">2/13 Filter Standard non-Indicators</button> </br>
                <button class="w3-btn w3-red w3-ripple text-left" style="width: 350px" ng-click="digestCompanyFiles($index)">3/13 Digest V Files</button> </br>
                <button class="w3-btn w3-red w3-ripple text-left" style="width: 350px" ng-click="extractEntities($index)">4/13 Extract Entities (Alchemy)</button> </br>
                <button class="w3-btn w3-red w3-ripple text-left" style="width: 350px" ng-click="viewVerisIndicators($index)">4/13 View V Indicators (Debug)</button> </br>
                <button class="w3-btn w3-red w3-ripple text-left" style="width: 350px" ng-click="loadDataStandards($index)">5/13 Load Data (S)</button> </br>
                <button class="w3-btn w3-red w3-ripple text-left" style="width: 350px" ng-click="loadDataCompany($index)">6/13 Load Data (V)</button> </br>
                <button class="w3-btn w3-red w3-ripple text-left" style="width: 350px" ng-click="generateTrainingDataStandards($index)">7/13 Generate Training Data IBM RR (S)</button> </br>
                <button class="w3-btn w3-red w3-ripple text-left" style="width: 350px" ng-click="generateTrainingDataCompany($index)">8/13 Generate Training Data IBM RR (V)</button> </br>
                <button class="w3-btn w3-red w3-ripple text-left" style="width: 120px" ng-click="trainRRStandards($index)">9/13 Train (S)</button> &nbsp; 
                <button class="w3-btn w3-red w3-ripple text-left" style="width: 73px" ng-click="checkRRS($index)">Check S</button> &nbsp;
                <button class="w3-btn w3-red w3-ripple text-left" style="width: 130px" ng-click="deleteRRS($index)">Delete Rankers S</button>
                </br>
                
                <button class="w3-btn w3-red w3-ripple text-left" style="width: 120px" ng-click="trainRRCompany($index)">10/13 Train (V)</button> &nbsp;
                <button class="w3-btn w3-red w3-ripple text-left" style="width: 73px" ng-click="checkRRV($index)">Check V</button> &nbsp;
                <button class="w3-btn w3-red w3-ripple text-left" style="width: 130px" ng-click="deleteRRV($index)">Delete Rankers V</button>
                </br>
                <button class="w3-btn w3-red w3-ripple text-left" style="width: 350px" ng-click="executeCrossSearch($index)">11/13 Execute Cross Search S->V</button> </br>
                <button class="w3-btn w3-red w3-ripple text-left" style="width: 350px" ng-click="executeCrossMatchSearch($index)">12/13 Execute Cross Search V->S</button> </br>
                <button class="w3-btn w3-red w3-ripple text-left" style="width: 350px" ng-click="releaseResources($index)">13/13 Release IBM Watson Resources</button>
      	</div>
      	<br/>
      	<b>Reports:</b></br>
      			<button class="w3-btn w3-red w3-ripple text-left" style="width: 350px" ng-click="viewReport($index)">View Exception Report (S -> V Exceptions)</button>
      			<button class="w3-btn w3-red w3-ripple text-left" style="width: 350px" ng-click="viewReportMatch($index)">View Match Report ( S -> V Matches)</button>
      			
      			<button class="w3-btn w3-red w3-ripple text-left" style="width: 350px" ng-click="viewMatchReportV2Exceptions($index)">View Exception Report (V -> S Exceptions)</button>
        		<button class="w3-btn w3-red w3-ripple text-left" style="width: 350px" ng-click="viewMatchReportV2($index)">View Match Report (V -> S Matches)</button>
        <br/> 		
        <b>Combined Reports:</b></br>		
        		<button class="w3-btn w3-red w3-ripple text-left" style="width: 350px" ng-click="viewSVCombined($index)">View S->V Combined (new)</button>
        		<button class="w3-btn w3-red w3-ripple text-left" style="width: 350px" ng-click="viewVSCombined($index)">View V->S Combined (new)</button>
        		
        
        
        </td>
        <td><button class="w3-btn w3-red w3-ripple" ng-click="deleteProject($index)">Delete Project</button></td>

      </tr>
    </tbody>
  </table>
   
    
  </div>
  
  