<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Create A New Project</h2>
        </div>
        
        <div class="page-header">
            <h3><b>Note: Please make sure all other projects are in "PROJECT CLOSED" state before you create a new project!</b></h3>
        </div>
        
        
        
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal" novalidate ng-submit="submitForm()" name="createAccountForm">
            <fieldset>
                <div class="form-group">
                    <label for="newProjectName" class="col-lg-3 control-label">Project Name</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="inputName"
                               ng-model="newProject.name"
                               required placeholder="Project Name">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="newProjectDesc" class="col-lg-3 control-label">Description</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="inputDescription"
                               ng-model="newProject.description"
                               placeholder="Description">
                    </div>
                </div>
                
                 <div class="form-group">
                    <label for="newProjectAlchemy" class="col-lg-3 control-label">Alchemy Custom Model ID (Not used as of now)</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="inputAlchemyCustomModel"
                               ng-model="newProject.alchemyCustomModel"
                               placeholder="Custom Model ID">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="standardDocuments" class="col-lg-3 control-label">Source Standards</label>
                	<div class="col-lg-9">
                        <input type="file"  id="inputStdDocs" ng-model="newProject.stddoc" required class="form-control" name="file1"  multiple onchange="angular.element(this).scope().uploadedFileStd(this)" />
		            </div>
                 </div>    
                 
                 
                <div class="form-group">
                    <label for="companyDocuments" class="col-lg-3 control-label">Veris Standards</label>
                	<div class="col-lg-9">
                        <input type="file"  id="inputCompDocs" ng-model="newProject.compdoc" required class="form-control"  name="file2" multiple onchange="angular.element(this).scope().uploadedFileComp(this)" />
		            </div>
                 </div>    
                 
                 
                
				<div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <input class="btn btn-primary" type="submit" ng-disabled="createProjectForm.$invalid" value="Create Project and Start Analysis">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>