<!--report.html-->
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Exception Report (S -> V Exceptions) for project {{myProject}}</h2>
        </div>
        <div class="page-header">
            <h3>The following report shows the information blocks extracted from the Standards files, that scored low against Veris standard indicators.</h3>
            <h4><p style="color:red">Note: as all data is processed automatically, some information blocks from Standard files might not apply to the problem scope. (i.e. COPYRIGHT sections from the standards)</p></h4>
        </div>
        
    </div>
</div>

<div class="row" >
  <table class="w3-table w3-bordered w3-striped table table-striped table-condensed table-hover" style="width: 100%">
    <thead>
      <tr>
      	  <th>#</th>
	      <th>Ignore</th>
	      <th>Standard File</th>
	      <th>Detected title</th>
	      <th>Detected Text</th>
	      <th>Calculated Score</th>
	      <th>Extracted Keywords Used</th>
	      
	      
      </tr>
    </thead>
    
    <tbody>
      
      <tr ng-repeat="reportItem in reportsItems">	 		  
					<td>{{$index}}</td>
					<td>
    	 		  		<input type=checkbox ng-click=ignoreRow($index)>Ignore</input>
				 	</td>
        		    <td><b>{{reportItem.doc}}</b></td>
			        <td><b>{{reportItem.title}}</b></td>
			        <td>{{reportItem.txt}}</td>
			        <td>{{reportItem.score.toFixed(2)}}</td>
			        <td>{{reportItem.keywords.substring(0,reportItem.keywords.length-2)}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
       <button class="w3-btn w3-red w3-ripple text-left" ng-click="closeReport()">Close Report</button>
      
</div>
  
  