<!--report.html-->
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Combined Report (V -> S) for project {{myProject}}</h2>
        </div>
        <div class="page-header">
            <h3>The following report shows the combined information blocks with and without matches.</h3>
            <h4><p style="color:red">Note: as all data is processed automatically.</p></h4>
        </div>
        
    </div>
</div>

<div class="row" >
  <table class="w3-table w3-bordered w3-striped table table-striped table-condensed table-hover" style="width: 100%">
    <thead>
      <tr>
      		
      	  <th style="background-color: grey;border: 1px solid black" colspan="2">#</th>
	      <th style="background-color: red;border: 1px solid black" colspan="4">Veris Indicator Block</th>
	      <th style="background-color: yellow;border: 1px solid black" colspan="4">Matched Standard Indicator 1</th>
	      <th style="background-color: yellow;border: 1px solid black" colspan="4">Matched Standard Indicator 2</th>
	      <th style="background-color: yellow;border: 1px solid black" colspan="4">Matched Standard Indicator 3</th>
	      <th style="background-color: yellow;border: 1px solid black" colspan="4">Matched Standard Indicator 4</th>
	      <th style="background-color: yellow;border: 1px solid black" colspan="4">Matched Standard Indicator 5</th>
	  </tr>
    
      <tr>
      	  <th style="background-color: grey;border: 1px solid black">#</th>
	      <th style="background-color: grey;border: 1px solid black">Ignore</th>
	      <th style="background-color: red;border: 1px solid black">Veris Indicator File</th>
	      <th style="background-color: red;border: 1px solid black">Detected Text</th>
	      <th style="background-color: red;border: 1px solid black">Indicator Keywords</th>
	      <th style="background-color: red;border: 1px solid black">Match</th>
	      
	      <th style="background-color: yellow;border: 1px solid black">Calculated Score</th>
	      <th style="background-color: yellow;border: 1px solid black">Standard Keywords</th>
	      <th style="background-color: yellow;border: 1px solid black">Standard Text</th>
	      <th style="background-color: yellow;border: 1px solid black">Standard File</th>
	      
	      <th style="background-color: yellow;border: 1px solid black">Calculated Score</th>
	      <th style="background-color: yellow;border: 1px solid black">Standard Keywords</th>
	      <th style="background-color: yellow;border: 1px solid black">Standard Text</th>
	      <th style="background-color: yellow;border: 1px solid black">Standard File</th>
	      
	      <th style="background-color: yellow;border: 1px solid black">Calculated Score</th>
	      <th style="background-color: yellow;border: 1px solid black">Standard Keywords</th>
	      <th style="background-color: yellow;border: 1px solid black">Standard Text</th>
	      <th style="background-color: yellow;border: 1px solid black">Standard File</th>
	      
	      <th style="background-color: yellow;border: 1px solid black">Calculated Score</th>
	      <th style="background-color: yellow;border: 1px solid black">Standard Keywords</th>
	      <th style="background-color: yellow;border: 1px solid black">Standard Text</th>
	      <th style="background-color: yellow;border: 1px solid black">Standard File</th>
	      
	      <th style="background-color: yellow;border: 1px solid black">Calculated Score</th>
	      <th style="background-color: yellow;border: 1px solid black">Standard Keywords</th>
	      <th style="background-color: yellow;border: 1px solid black">Standard Text</th>
	      <th style="background-color: yellow;border: 1px solid black">Standard File</th>
      </tr>
    </thead>
    
    <tbody>
      
      <tr ng-repeat="reportItem in reportsItems">	 		  
					<td style="border: 1px solid black">{{$index}}</td>
					<td style="border: 1px solid black">
    	 		  		<input type=checkbox ng-click=ignoreRow($index)>Ignore</input>
				 	</td>
        		    
        		    <td style="border: 1px solid black"><b>{{reportItem.doc}}</b></td>
			        <td style="border: 1px solid black"><b>{{reportItem.title}}</b><br/>{{reportItem.txt}}</td>
			        <td style="border: 1px solid black">{{reportItem.keywords}}</td>
			        <td style="border: 1px solid black"><b>{{reportItem.match}}</b></td>
			        
			        
			        
			        <td style="border: 1px solid black"><font style="font-size:large;">{{reportItem.matchedDocScore}}%</font></td>
			        <td style="border: 1px solid black">{{reportItem.keywords1}}</td>
			        <td style="border: 1px solid black"><b>{{reportItem.matchedDocTitle}}</b><br/><b>{{reportItem.matchedDocID}}</b><br/>{{reportItem.matchedDocTxt}}</td>
			        <td style="border: 1px solid black">{{reportItem.matchdoc}}</td>
			        
			        <td style="border: 1px solid black"><font style="font-size:large;">{{reportItem.matchedDocScore2}}%</font></td>
			        <td style="border: 1px solid black">{{reportItem.keywords2}}</td>
			        <td style="border: 1px solid black"><b>{{reportItem.matchedDocTitle2}}</b><br/><b>{{reportItem.matchedDocID2}}</b><br/>{{reportItem.matchedDocTxt2}}</td>
			        <td style="border: 1px solid black">{{reportItem.matchdoc2}}</td>
			        
			        <td style="border: 1px solid black"><font style="font-size:large;">{{reportItem.matchedDocScore3}}%</font></td>
			        <td style="border: 1px solid black">{{reportItem.keywords3}}</td>
			        <td style="border: 1px solid black"><b>{{reportItem.matchedDocTitle3}}</b><br/><b>{{reportItem.matchedDocID3}}</b><br/>{{reportItem.matchedDocTxt3}}</td>
			        <td style="border: 1px solid black">{{reportItem.matchdoc3}}</td>
			        
			        
			        <td style="border: 1px solid black"><font style="font-size:large;">{{reportItem.matchedDocScore4}}%</font></td>
			        <td style="border: 1px solid black">{{reportItem.keywords4}}</td>
			        <td style="border: 1px solid black"><b>{{reportItem.matchedDocTitle4}}</b><br/><b>{{reportItem.matchedDocID4}}</b><br/>{{reportItem.matchedDocTxt4}}</td>
			        <td style="border: 1px solid black">{{reportItem.matchdoc4}}</td>
			        
			        
			        <td style="border: 1px solid black"><font style="font-size:large;">{{reportItem.matchedDocScore5}}%</font></td>
			        <td style="border: 1px solid black">{{reportItem.keywords5}}</td>
			        <td style="border: 1px solid black"><b>{{reportItem.matchedDocTitle5}}</b><br/><b>{{reportItem.matchedDocID5}}</b><br/>{{reportItem.matchedDocTxt5}}</td>
			        <td style="border: 1px solid black">{{reportItem.matchdoc5}}</td>
			        
			    
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
       <button class="w3-btn w3-red w3-ripple text-left" ng-click="closeReport()">Close Report</button>
      
</div>
  
  