<!--report.html-->
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Match Report (V -> S Matches) for project {{myProject}} -  Enhanced version</h2>
        </div>
        <div class="page-header">
            <h3>The following report shows the information blocks extracted from Veris indicators, that scored high against the Standard indicators..</h3>
            <h4><p style="color:red">Note: as all data is processed automatically, some information blocks from Standard files might not apply to the problem scope. (i.e. COPYRIGHT sections from the standards)</p></h4>
        </div>
        
    </div>
</div>

<div class="row" >
  <table class="w3-table w3-bordered w3-striped table table-striped table-condensed table-hover" style="width: 100%">
    <thead>
      <tr>
      	  <th>#</th>
	      <th>Ignore</th>
	      <th>Standard File</th>
	      <th>Detected title</th>
	      <th>Detected Text</th>
	      <th>Calculated Score</th>
	      <th>Extracted Keywords Used</th>
	      <th>First Matched Indicator</th>
	      <th>First Matched Keys</th>
	      <th>Other Matches (short view)</th>
	  </tr>
    </thead>
    
    <tbody>
      
      <tr ng-repeat="reportItem in reportsItems">	 		  
					<td>{{$index}}</td>
					<td>
    	 		  		<input type=checkbox ng-click=ignoreRow($index)>Ignore</input>
				 	</td>
        		    <td><b>{{reportItem.doc}}</b></td>
			        <td><b>{{reportItem.title}}</b></td>
			        <td>{{reportItem.txt}}</td>
			        <td>{{reportItem.score.toFixed(2)}}</td>
			        <td>{{reportItem.keywords.substring(0,reportItem.keywords.length-2)}}</td>
			        <td><b>{{reportItem.matchedDocTitle + ' ('+ reportItem.matchedDocID  + ')'}}</b><br/>
			               {{reportItem.matchedDocTxt.length<600?reportItem.matchedDocTxt:(reportItem.matchedDocTxt.substring(0,400)+'...')}}
			        </td>
			        <td>{{reportItem.matchedDocKeywords.substring(0,reportItem.matchedDocKeywords.length-2)}}</td>
			        <td><b>{{reportItem.matchedDocTitle2 + ' ('+ reportItem.matchedDocID2  + ')'}}</b> <br/>
			        	{{reportItem.matchedDocTxt2.length<400?reportItem.matchedDocTxt2:(reportItem.matchedDocTxt2.substring(0,400)+'...')}} <br/>
			            <b>{{reportItem.matchedDocTitle3 + ' ('+ reportItem.matchedDocID3  + ')'}}</b> <br/>
			        	{{reportItem.matchedDocTxt3.length<400?reportItem.matchedDocTxt3:(reportItem.matchedDocTxt3.substring(0,400)+'...')}} <br/>
			            <b>{{reportItem.matchedDocTitle4 + ' ('+ reportItem.matchedDocID4  + ')'}}</b> <br/>
			        	{{reportItem.matchedDocTxt4.length<400?reportItem.matchedDocTxt4:(reportItem.matchedDocTxt4.substring(0,400)+'...')}} <br/>
			        	<b>{{reportItem.matchedDocTitle5 + ' ('+ reportItem.matchedDocID5  + ')'}}</b> <br/>
			        	{{reportItem.matchedDocTxt5.length<400?reportItem.matchedDocTxt5:(reportItem.matchedDocTxt5.substring(0,400)+'...')}} <br/>
			        </td>
			        
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
       <button class="w3-btn w3-red w3-ripple text-left" ng-click="closeReport()">Close Report</button>
      
</div>
  
  