<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Settings {{test}}</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-15">
        <form class="form-horizontal" novalidate ng-submit="submitForm()" name="settingsForm">
            <fieldset>
                
                
                <div class="form-group">
                    <label for="minParagraphSize" class="col-lg-3 control-label">Minimum Paragraph Size</label>
                    <div class="col-lg-9">
                        <input type="number"
                               class="form-control"
                               id="minParagraphSize"
                               ng-model="minParagraphSize"
                               required placeholder="size">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="keywordsToConsider" class="col-lg-3 control-label">Keywords To Consider</label>
                    <div class="col-lg-9">
                        <input type="number"
                               class="form-control"
                               id="keywordsToConsider"
                               ng-model="keywordsToConsider"
                               required placeholder="number of keywords to consider">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="scoreThreshold" class="col-lg-3 control-label">Paragraph Score Threshold</label>
                    <div class="col-lg-9">
                        <input type="number"
                               class="form-control"
                               id="scoreThreshold"
                               ng-model="scoreThreshold"
                               required placeholder="paragraph score threshold">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="enableOneToOneMatch" class="col-lg-3 control-label">Enable One on One match for indicators (yes/no)</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="enableOneToOneMatch"
                               ng-model="enableOneToOneMatch"
                               required placeholder="yes/no">
                    </div>
                </div>
                
                
                
                
                <div class="form-group">
                    <label for="excludeList" class="col-lg-3 control-label">Comma Separated List of Words to Exclude</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="excludeList"
                               ng-model="excludeList"
                               required placeholder="comma separated list of words to exclude from report">
                    </div>
                </div>
                
                
                
                <div class="form-group">
                    <label for="retrieveRankStandardsUsername" class="col-lg-3 control-label">IBM Watson Retrieve And Rank - Standards - Username</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="retrieveRankStandardsUsername"
                               ng-model="retrieveRankStandardsUsername"
                               required placeholder="username">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="retrieveRankStandardsPassword" class="col-lg-3 control-label">IBM Watson Retrieve And Rank - Standards - Password</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="retrieveRankStandardsPassword"
                               ng-model="retrieveRankStandardsPassword"
                               required placeholder="password">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="retrieveRankStandardsSolrCluster" class="col-lg-3 control-label">IBM Watson Retrieve And Rank - Standards - SolrCluster</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="retrieveRankStandardsSolrCluster"
                               ng-model="retrieveRankStandardsSolrCluster"
                               required placeholder="solr cluster id">
                    </div>
                </div>
                
                
                
                
                
                <div class="form-group">
                    <label for="retrieveRankCompanyUsername" class="col-lg-3 control-label">IBM Watson Retrieve And Rank - Company - Username</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="retrieveRankCompanyUsername"
                               ng-model="retrieveRankCompanyUsername"
                               required placeholder="username">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="retrieveRankCompanyPassword" class="col-lg-3 control-label">IBM Watson Retrieve And Rank - Company - Password</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="retrieveRankCompanyPassword"
                               ng-model="retrieveRankCompanyPassword"
                               required placeholder="password">
                    </div>
                </div>
                
                
                  <div class="form-group">
                    <label for="retrieveRankCompanySolrCluster" class="col-lg-3 control-label">IBM Watson Retrieve And Rank - Company - SolrCluster</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="retrieveRankCompanySolrCluster"
                               ng-model="retrieveRankCompanySolrCluster"
                               required placeholder="solr cluster id">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="documentServiceUsername" class="col-lg-3 control-label">IBM Watson Document Service - Username</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="documentServiceUsername"
                               ng-model="documentServiceUsername"
                               required placeholder="username">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="documentServicePassword" class="col-lg-3 control-label">IBM Watson Document Service - Password</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="documentServicePassword"
                               ng-model="documentServicePassword"
                               required placeholder="password">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="alchemyAPIkey" class="col-lg-3 control-label">IBM Alchemy API key</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="alchemyAPIkey"
                               ng-model="alchemyAPIkey"
                               required placeholder="API key">
                    </div>
                </div>
                
                
                
				<div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <input class="btn btn-primary" type="submit" ng-disabled="settingsForm.$invalid" value="Save">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>